<div class="row">
    <% bookmarks.each_with_index do |bm,i| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <input id="objectId" class="hidden" value="<% bm["objectId"] %>" />
      <a id="url" href="<%= bm["url"] %>" target="_blank">
        <img src="http://immediatenet.com/t/l?Size=1024x768&URL=<%= bm["url"] %>"/>
      </a>
      <div class="caption">
        <h4 id="desc"><%= bm["desc"] %></h4>
        <p id="group">类别:<%= bm["group"] %></p>
        <p>创建时间:<%= bm["createdAt"].slice(0,10) %></p>
        <p>
          <a class="btn btn-success editModelBtn" href="#" role="button" data-toggle="modal">
            <span class="glyphicon glyphicon-edit"></span>
          </a>
          <a class="btn btn-default deleteModelBtn" href="#" role="button" data-toggle="modal">
             <span class="glyphicon glyphicon-fire"></span>
          </a>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>

<!-- Modal -->
<div id="createModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3 id="myModalLabel">添加书签</h3>
  </div>
  <div class="modal-body">
    <p></p>
    <form class="form-signin" method="POST" action="/create">
      <input id="group" name="group" type="text" class="input-block-level" placeholder="类别">
      <input id="desc" name="desc" type="text" class="input-block-level" placeholder="描述">
      <input id="url" name="url" type="text" class="input-block-level" placeholder="url">
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">
      取消
    </button>
    <button class="btn btn-primary submit-trigger">
      保存
    </button>
  </div>
</div>
<!-- Modal -->

<div id="editModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        ×
      </button>
      <h3 id="myModalLabel">编辑书签</h3>
    </div>
    <div class="modal-body">
      <p></p>
      <form class="form-signin" method="POST" action="/edit">
        <input type="hidden" id="objectId" name="objectId" >
        <input id="group" name="group" type="text" class="input-block-level" placeholder="书签分组">
        <input id="desc" name="desc" type="text" class="input-block-level" placeholder="描述">
        <input id="url" name="url" type="text" class="input-block-level" placeholder="URL">
      </form>

    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">
        取消
      </button>
      <button class="btn btn-primary submit-trigger">
        保存
      </button>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="deleteModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <h3 id="myModalLabel">删除书签</h3>
      </div>
      <div class="modal-body">
        <p>
          确定删除该书签么？
        </p>
        <form class="form-signin" method="POST" action="/destroy">
          <input type="hidden" id="objectId" name="objectId" >
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">
          取消
        </button>
        <button class="btn btn-primary submit-trigger">
          确定
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.editModelBtn').on('click', function(event) {
      event.preventDefault();
      var thumbnail = $(this).closest('.thumbnail');
      $('#editModel #objectId').val($(thumbnail).find('#objectId')[0].value);
      $('#editModel #group').val($(thumbnail).find('#group')[0].innerHTML);
      $('#editModel #desc').val($(thumbnail).find('#desc')[0].innerHTML);
      $('#editModel #url').val($(thumbnail).find('#url')[0].innerHTML);
    });
    $('.deleteModelBtn').on('click', function(event) {
      event.preventDefault();
      var cells = $(this).closest('thumbnail').find('td');
      var thumbnail = $(this).closest('.thumbnail');
      $('#deleteModel #objectId').val($(thumbnail).find('#objectId')[0].value);
    });

    $('.btn.btn-primary.submit-trigger').on('click', function(event) {
      $(this).parent().prev('.modal-body').find('form').submit();
    });
  });
</script>