<table class="table">
  <thead>
    <tr>
<!--
      <th colspan="4" style="border-top:0px;">
      <input type="text" class="input-large search-query" id="search_filter" >
      <button class="btn" type="submit" id="search">
        搜索
      </button></th>
-->
      <th style="border-top:0px;">
          <a class="btn btn-info" href="#createModel" role="button" data-toggle="modal">添加书签</a></th>
    </tr>
    <tr>
      <th>序号</th>
      <th>类别</th>
      <th>描述</th>
      <th>网址</th>
      <th>加入日期</th>
    </tr>
  </thead>
  <tbody>
    <% bookmarks.each_with_index do |bm,i| %>
    <tr>
      <td><%= i %></td>
      <td style="display:none"><%= bm["objectId"] %></td>
      <td><%= bm["group"] %></td>
      <td><%= bm["desc"] %></td>
      <td>
        <a href="<%= bm["url"] %>" target="_blank">
          <%= bm["url"] %>
        </a>
      </td>
      <td><%= bm["createdAt"].slice(0,10) %></td>
      <td>
        <a class="editModelBtn" href="#editModel" role="button" data-toggle="modal">
          <i class="icon-edit"></i>
        </a>
      </td>
      <td>
        <a class="deleteModelBtn" href="#deleteModel" role="button" data-toggle="modal">
          <i class="icon-remove"></i>
        </a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<!-- Modal -->
<div id="createModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3 id="myModalLabel">添加书签</h3>
  </div>
  <div class="modal-body">
    <p></p>
    <form class="form-signin" method="POST" action="/create">
      <input id="group" name="group" type="text" class="input-block-level" placeholder="类别">
      <input id="desc" name="desc" type="text" class="input-block-level" placeholder="描述">
      <input id="url" name="url" type="text" class="input-block-level" placeholder="url">
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">
      取消
    </button>
    <button class="btn btn-primary submit-trigger">
      保存
    </button>
  </div>
</div>
<!-- Modal -->
<div id="editModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3 id="myModalLabel">编辑书签</h3>
  </div>
  <div class="modal-body">
    <p></p>
    <form class="form-signin" method="POST" action="/edit">
      <input type="hidden" id="objectId" name="objectId" >
      <input id="group" name="group" type="text" class="input-block-level" placeholder="书签分组">
      <input id="desc" name="desc" type="text" class="input-block-level" placeholder="描述">
      <input id="url" name="url" type="text" class="input-block-level" placeholder="URL">
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">
      取消
    </button>
    <button class="btn btn-primary submit-trigger">
      保存
    </button>
  </div>
</div>
<!-- Modal -->
<div id="deleteModel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
      ×
    </button>
    <h3 id="myModalLabel">删除书签</h3>
  </div>
  <div class="modal-body">
    <p>
      确定删除该书签么？
    </p>
    <form class="form-signin" method="POST" action="/destroy">
      <input type="hidden" id="objectId" name="objectId" >
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">
      取消
    </button>
    <button class="btn btn-primary submit-trigger">
      确定
    </button>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.editModelBtn').on('click', function(event) {
      event.preventDefault();
      var cells = $(this).closest('tr').find('td');
      $('#editModel #objectId').val(cells[1].innerHTML);
      $('#editModel #group').val(cells[2].innerHTML);
      $('#editModel #desc').val(cells[3].innerHTML);
      $('#editModel #url').val(cells[4].text);
    });
    $('.deleteModelBtn').on('click', function(event) {
      event.preventDefault();
      var cells = $(this).closest('tr').find('td');
      $('#deleteModel #objectId').val(cells[1].innerHTML);
    });

    $('.btn.btn-primary.submit-trigger').on('click', function(event) {
      $(this).parent().prev('.modal-body').find('form').submit();
    });
  });
</script>